body{
    background-color: rgb(190, 190, 190);
}
#profilePic{
    width: 10%;
    border-radius: 50%;
    
}
.name{
    color: rgb(37, 36, 36);
    margin-left: 13%;
    margin-top: -5%;
}
.headerContent{
    color: royalblue;
    text-align: center;
}
.h1Input{
    color: rgb(37, 36, 36);
}
.contentContainer{
    display: grid;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
#inputContainer{
    text-align: center;
    height: 150px;
    border-radius: 10px;
    background-color: rgb(238, 238, 238);
}
#btn{
    width: 40%;
    margin-left: 30%;
    margin-top: 2%;
    height: 100%;
    border-radius: 5px;
    background-color:rgb(22, 44, 107);
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    color: aliceblue;
}
#btn:hover{
    background-color: rgb(255, 255, 255);
    color:rgb(22, 44, 107) ;
    transition: 0.4s;
}

.btns{
    margin-left: 10px;
    height: 30px;
    border-radius: 10px;
    transition: 0.2s;
    color: gray;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.userName{
    margin-top: -10%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.userImg{
    border-radius: 50%;
    width: 70px;
    margin-bottom: 5%;
}

.newPostForm{
    padding-left:2%;
    padding-top: 2%;
    background-color: rgb(212, 212, 212);
    box-shadow: 0 0 5px rgb(128, 128, 128);
    padding-bottom: 1%;
    margin-bottom: 20px;
}

.postContent{
    padding-left: 10%;
    padding-bottom: 2%;
}